.site {
  background-color: red;
  color: #fff;
}
.nav-link.active {
  font-weight: bold;
}
.ioc-learn {
  width: 60px;
  height: 59px;
  background: url('../public/images/glt-sprites.png') -92px -10px;
  display: inline-block;
}
.tag {
  background-color: #005c67;
  color: #fff;
  text-align: center;
  position: absolute;
  padding: 10px 30px;
  font-weight: 600;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 230px;
  z-index: 100;
  top: -10px;
}
.ioc-volunteer {
  width: 59px;
  height: 59px;
  background: url('../public/images/glt-sprites.png') -10px -92px;
  display: inline-block;
}
.ioc-share {
  width: 54px;
  height: 61px;
  background: url('../public/images/glt-sprites.png') -172px -10px;
  display: inline-block;
}
.ioc-donation {
  width: 42px;
  height: 60px;
  background: url('../public/images/glt-sprites.png') -10px -241px;
  display: inline-block;
}
body.light,
body.light .navbar {
  background-color: white;
  color: black;
}

/* Dark theme */
body.dark,
body.dark .navbar {
  background-color: black;
  color: white;
}

body.light .navbar .nav-link {
  color: black;
}
body.dark .navbar .nav-link {
  color: white;
}